<!doctype html>
<html lang="en" ng-app=airforcerankApp>
  <head>
    <meta charset='utf-8'>
    <title>Enlisted Air Force Ranks</title>
    <link rel="stylesheet" href="css/app.css">
<!--     <link rel="stylesheet" href="css/bootstrap.css"> -->
 
    <script src="lib/angular/angular.js"></script>
    <script src="js/controllers.js"></script>
  </head>
  <body ng-controller="AirForceRankCtrl">
<div class="userInput">

    <h1>
      Enlisted Air Force Ranks
    </h1>

    Search through the {{ranks.length}} Enlisted Air Force Ranks: <input ng-model="query"><br>
    Sort by:
      <select ng-model="orderProp">
        <option value="name">Alphabetical</option>
        <option value="payGrade">Pay Grade</option>
      </select>
</div>

<div class="container">
    <div class="data">

      <ul class="ranks">
        <li ng-repeat="rank in ranks | filter:query | orderBy:orderProp">
          <div class="rank">
            <strong>
              <p>{{rank.name}}</p>
            </strong>
            <p>Pay Grade: 
            <em>
              {{rank.payGrade}}</p>
            </em>
            <img ng-src="img/{{rank.image}}" class="rank-pic"/>
          </div>
          <div class="details">
            <p>{{rank.role}}</p>
          </div>

        </li>
      </ul>
    </div>
</div>
  </body>
</html>